{% block navbar %}
<nav class="navbar navbar-expand navbar-dark bg-dark">

    <div class="container" style="height: 35px">
        <!-- Botões à esquerda -->
        <ul class="navbar-nav">
            <!-- Logo da do MinimalList -->
            <a class="navbar-brand" href="/">MinimalList</a>

            <!-- Barra de busca -->
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Busca (ainda desativada)" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
            </form>
        </ul>
        <ul class="navbar-nav">
            <!-- Botões à direita -->

            <!-- Dropbown de nota nota -->
            <div class="dropdown">
                <button class="btn btn-outline-light" type="button" id="newtaskbtn" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"> <i class="fa fa-plus" aria-hidden="true"></i>
                </button>
                <div class="dropdown-menu" aria-labelledby="newtaskbtn">
                    <!-- Caixa de texto de nova nota -->
                    <a class="dropdown-item" <div class="form-group">
                      <label for=""></label>
                      <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="New task">
                    </div> </a>
                </div>
            </div>

        </ul>
    </div>

</nav>
{% endblock navbar %}