{% block navbar %}
<nav class="navbar navbar-expand sticky-top navbar-dark bg-dark">

    <div class="container" style="height: 35px">
        <!-- Botões à esquerda -->
        <ul class="navbar-nav">
            <!-- Logo da do MinimalList -->
            <a class="navbar-brand" href="/">MinimalList</a>

            <!-- Barra de busca -->
            <form class="form-inline">
                <input class="form-control mr-sm-2" type="search" placeholder="Busca" aria-label="Search">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Busca</button>
            </form>
        </ul>
        <ul class="navbar-nav">
            <!-- Botões à direita -->

            <!-- Dropbown de nota nota -->
            <div class="dropdown">
                <button type="button" class="btn btn-outline-light" id="newtaskbtn" data-toggle="modal" data-target="#exampleModal"
                    aria-haspopup="true" aria-expanded="false"><i class="fa fa-plus" aria-hidden="true"></i>
                </button>

                <!-- Modal de nova tarefa -->
                <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <p class="modal-title" id="newtaskbtn">Nova tarefa</p>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <!-- Corpo da nota -->
                            <div class="modal-body">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="inputContainer">
                                        <input type="text" id="taskAdd" class="taskAdd" name="taskAdd" required>
                                        <input class="btn btn-primary" type="submit" value="Submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
    </ul>
    </div>



</nav>
{% endblock navbar %}